services:
  db:
    image: postgres:latest
    restart: always
    env_file: postgres.env
    volumes:
      - ./postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"
volumes:
  postgres_data: